
<ul>
    <li>
        <a routerLink="/">Home</a>
    </li>
    <li>
        <a routerLink="/extraPolacion">Extrapolacion</a>
    </li>
    <li>
        <a routerLink="/binding">Bindeo</a>
    </li>
    <li>
        <a routerLink="/callComponent">Llamada a componente</a>
    </li>
    <li>
        <a routerLink="/callObjectComponent">Lllamada a component con objetos</a>
    </li>
    <li>
        <a routerLink="/ciclos">Ciclos</a>
    </li>
    <li>
        <a routerLink="/condicionales">Condicionales</a>
    </li>
    <li>
        <a routerLink="/events">Eventos</a>
    </li>
    <li>
        <a routerLink="/WebAPI">Datos desde WebAPI</a>
    </li>
    <li>
        <a routerLink="/about">Call page</a>
    </li>

</ul>

<!--Permite habilitar la navegacion de rutas-->
<router-outlet>
    
</router-outlet>